.app-login-container {
  margin: 5% 0 0 0;
  display: flex;
  justify-content: center;
}

.app-check {
  display: contents;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.app-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
}

.app-login-title {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.btn-form {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.spacing {
  margin-right: 10px;
}

.spinner {
  display: flex;
  margin-left: 10px;
  justify-self: center;
}

.text {
  display: flex;
  justify-content: center;
}

.app-home-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.app-text {
  display: flex;
  color: blue;
  border: none;
  outline: none;
  cursor: pointer;
}

.app-hint {
  margin-bottom: 1em;
  font-size: 12px;
  font-style: italic;
}
