<div class="app-header">
  <button mat-button type="text" (click)="openCreateBucket($event)">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="folder"> create_new_folder </mat-icon>
    <span> Create a Bucket </span>
  </button>
</div>
<mat-form-field class="app-search">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<div class="mat-elevation-z8">
  <table class="app-table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let row"> <mat-icon class="example-icon" aria-hidden="false" aria-label="folder"> folder </mat-icon> &nbsp; &nbsp;  </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> name</th>
      <td mat-cell *matCellDef="let row" > {{row.name}}</td>
    </ng-container>
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage </th>
      <td mat-cell *matCellDef="let row" class="app-table-manage">
        <button mat-raised-button (click)="openBucket(row)" >
          <mat-icon aria-hidden="false" > folder_open </mat-icon>
        </button>
        <button mat-raised-button (click)="editBucket(row)">
          <mat-icon aria-hidden="false" > edit</mat-icon>
        </button>
        <button mat-raised-button (click)="deleteBucket(row)">
          <mat-icon aria-hidden="false"> delete </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr  class="example-element-row" mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openBucket(row)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
