<div class="app-header">
  <button mat-button type="text" (click)="addBlob($event)">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="folder"> add_file</mat-icon>
    <span> Add a File </span>
  </button>
  <button mat-button type="text" (click)="createBucket($event)">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="folder"> create_new_folder</mat-icon>
    <span> Create a Bucket </span>
  </button>
</div>
<mat-form-field class="app-search">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<div class="mat-elevation-z8">
  <!--  <mat-card-title style="display: flex; justify-content: center; margin: 1em "> Buckets list </mat-card-title>-->
  <table class="app-table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="folder" *ngIf="!isFile(row); else ok"> folder
        </mat-icon>
        <ng-template #ok>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="folder"> insert_drive_file</mat-icon>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let row"> {{row.name}}</td>
    </ng-container>
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Size</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="isFile(row)">{{formatBytes(row.size)}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="manage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="!isFile(row); else ok" class="app-table-manage">
          <button mat-raised-button matTooltip="Open" (click)="openBucket(row)">
            <mat-icon aria-hidden="false"> folder_open</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Edit" (click)="editBucket($event,row)">
            <mat-icon aria-hidden="false"> edit</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Delete" (click)="deleteBucket($event,row)">
            <mat-icon aria-hidden="false"> delete</mat-icon>
          </button>
        </div>
        <ng-template #ok>
          <div class="app-table-manage">
            <button mat-raised-button matTooltip="Delete">
              <mat-icon aria-hidden="false"> delete</mat-icon>
            </button>
            <button mat-raised-button matTooltip="Duplicate" >
              <mat-icon aria-hidden="false"> file_copy</mat-icon>
            </button>
          </div>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="example-element-row" mat-row *matRowDef="let row; columns: displayedColumns;"
        (dblclick)="openBucket(row)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
