<div class="app-change-password-container">
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="old password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="new password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="confirm new password">
        </mat-form-field>
        <button mat-button (click)="changePassword()">Confirm changes</button>
    </div>
</div>
