<div class="app-main-container">
  <form class="app-form-container" (submit)="changePassword()">
    <mat-card-title class="app-title-container"> Change password</mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label>Old password</mat-label>
      <label>
        <input matInput name="password" [formControl]="userForm.controls.oldPassword" required type="password">
      </label>
      <mat-error *ngIf=" userForm.controls.oldPassword.errors?.required "> Merci de saisir les champs obligatoires
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <label>
        <input matInput name="password" [formControl]="userForm.controls.password" required type="password">
      </label>
      <mat-error *ngIf=" userForm.controls.password.errors?.required "> Merci de saisir les champs obligatoires
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <label>
        <input matInput name="password" [formControl]="userForm.controls.passwordConfirm" required type="password">
      </label>
      <mat-error *ngIf=" userForm.controls.passwordConfirm.errors?.required "> Merci de saisir les champs obligatoires
      </mat-error>
    </mat-form-field>

    <div class="app-btn">
      <button mat-button type="submit">
        <mat-icon aria-hidden="false"> save</mat-icon>
        Save
      </button>
      <button (click)="onClose($event)" mat-raised-button>
        <mat-icon color="warn" aria-hidden="false"> cancel</mat-icon>
      </button>
    </div>
  </form>
</div>
