<div class="app-login-container">
    <div class="example-container">
        <mat-card-title class="app-connexion-title"> Profil</mat-card-title>
        <mat-form-field>
            <input matInput placeholder="username">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="old password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="new password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="confirm new password">
        </mat-form-field>
    </div>
</div>