<div class="app-content" *ngIf="data.title !== 'Information'; else IsInfo">
  <div>
    <mat-card-title class="app-title">{{title}}</mat-card-title>
    <mat-card-content appearance="fill">
      <p>
        {{content}}
      </p>
    </mat-card-content>
    <div class="app-action-container">
      <button *ngIf="data.title !== 'Download'; else Download" mat-raised-button type="submit"
              (click)="onSubmit($event)">
        Yes
      </button>
      <ng-template #Download>
        <button mat-raised-button type="" (click)="onSubmit($event)">
          Yes
        </button>
      </ng-template>
      <button (click)="onClose($event)" mat-raised-button>
        <mat-icon color="warn" aria-hidden="false"> cancel</mat-icon>
      </button>
    </div>
  </div>
</div>
<ng-template #IsInfo>
  <mat-card>
    <mat-card-content>
      <mat-list>
        <img mat-card-image matCardImageMedium style="display: flex;align-self: center" [src]="reader"
             [alt]="data.infos.name"/>
        <!--        <embed [src]="reader" width=800 height=500 type='application/pdf' />-->
        <mat-list-item> Name: {{data.infos.name}} </mat-list-item>
        <mat-list-item> Size: {{data.infos.size | formatBytes}} </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
