<div class="app-content">
<form class="app-form" (submit)="submit($event)">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content appearance="fill" *ngIf="data.title !== 'Delete'">
    <p>
        Are you sure you want to duplicate this bucket ?
    </p>
    </mat-card-content>
    <div class="app-action-container">
    <button mat-raised-button type="submit" [disabled]=" name.invalid" *ngIf="data.title !== 'Duplicate'">
        <mat-icon aria-hidden="false"> duplicate</mat-icon>
    </button>
    <button mat-raised-button type="submit"  *ngIf="data.title === 'Duplicate'">
        Yes
    </button>
    <button (click)="onClose($event)" mat-raised-button>
        <mat-icon color="warn" aria-hidden="false"> cancel</mat-icon>
    </button>
    </div>
    <mat-card-content *ngIf="data.title === 'Delete'">
    <p>
        Are you sure you want to delete this bucket ?
    </p>
    </mat-card-content>
    <div class="app-action-container">
    <button mat-raised-button type="submit" [disabled]=" name.invalid" *ngIf="data.title !== 'Delete'">
        <mat-icon aria-hidden="false"> save</mat-icon>
    </button>
    <button mat-raised-button type="submit"  *ngIf="data.title === 'Delete'">
        Yes
    </button>
    <button (click)="onClose($event)" mat-raised-button>
        <mat-icon color="warn" aria-hidden="false"> cancel</mat-icon>
    </button>
    </div>
</form>
</div>      