.app-title {
  display: flex;
  justify-content: center;
}

.app-action-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.app-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


mat-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
