.app-login-container {
  margin: 10% 10% 10%;
}
.app-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.app-connexion-title {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.btn-login {
  display: grid;
}

.spinner {
  display: flex;
  margin-left: 10px;
  justify-self: center;
}
.app-connexion-btn {
  display: flex;
  justify-content: center;
}
.error {
  margin-top: 1em;
  margin-bottom: 1em;
}
.text {
  display: flex;
  justify-content: center;
}
.app-forget-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}
.app-register-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}
.app-text {
  display: flex;
  color: blue;
  border: none;
  outline:none;
  cursor: pointer;
  align-items:center;
}
