<div class="app-login-container">
  <form (submit)="login($event)" class="app-form-container">
    <mat-card-title class="app-connexion-title"> Connexion</mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label>E-mail adress</mat-label>
      <input [formControl]="userForm.controls.email" matInput name="login" required/>
      <mat-error *ngIf="userForm.controls.email.invalid && userForm.controls.email.errors.required">Email is invalid.</mat-error>
      <mat-error *ngIf="userForm.controls.email.invalid && userForm.controls.email.errors.loginInvalid">Email or password is
        incorrect.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input [formControl]="userForm.controls.password" matInput name="password" required type="password"/>
      <mat-error *ngIf="userForm.controls.password.invalid && userForm.controls.password.errors.required">Password is required.
      </mat-error>
      <mat-error *ngIf="userForm.controls.password.invalid && userForm.controls.password.errors.minlength">Password must do
        more characters.
      </mat-error>
    </mat-form-field>
    <mat-error class="error" *ngIf="!hidden &&  error " >Incorrect email address or password</mat-error>
    <div class="btn-login">
      <button class="app-connexion-btn" color="accent" *ngIf="!hidden" mat-raised-button
              [disabled]="! userForm.controls.email.valid || ! userForm.controls.password.valid">
        Connexion
      </button>
      <mat-progress-spinner class="spinner" color="warn" diameter="25" *ngIf="hidden"
                            mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="app-forget-container">
      <span (click)="resetPassword($event)" matBadge="?" matBadgeColor="warn" matBadgePosition="after"
            matBadgeOverlap="false" class="app-text">Forgot your password</span>
    </div>
    <div class="app-register-container">
      <span [routerLink]="['/', 'register']" class="app-text"> <mat-icon color="blue"> person_add</mat-icon>&nbsp; Register</span>
    </div>

  </form>
</div>
