.app-main-container {
  width: auto;
}

.app-title-container {
  display: flex;
  justify-content: center;
  margin: 5px;

}

@media screen and (max-width: 1024px) {
  .app-title-container {
    font-size: smaller;
  }
 input {
    font-size: smaller;
  }
}

.app-form-container {
  display: flex;
  flex-flow: column;
}

.btn-form {
  display: flex;
  justify-content: space-around;
}
