<div class="app-main-container" *ngIf="status === undefined; else Validate ">
  <mat-card-title class="app-title-container"> Modifier votre mot de passe</mat-card-title>
  <div class="app-form-container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <label>
        <input [formControl]="changePasswordForm.email" matInput name="email" required>
      </label>
      <mat-error *ngIf="changePasswordForm.email.invalid && changePasswordForm.email.errors?.required ">
        l'email est requis.
      </mat-error>
    </mat-form-field>

    <div class="btn-form">
      <button [disabled]=" changePasswordForm.email.invalid" color="accent" (click)="updatePassword($event)"
              mat-raised-button>Valider
      </button>
      <button (click)="onClose()" color="warn" mat-raised-button>Annuler</button>
    </div>
  </div>
</div>
<ng-template #Validate>
  <p> Si cet e-mail est enregistré, les instructions pour réinitialiser votre mot de passe vous serons envoyées.</p>
  <p> Si vous ne recevez pas d'email rapidement, merci de revenir et d'essayer à nouveau. (le mail n'est valide que
    24h)</p>
  <div class="app-title-container">
    <button (click)="onClose()" color="warn" mat-raised-button>Fermer</button>
  </div>
</ng-template>
