<div class="app-main-container" *ngIf="status === undefined; else Validate ">
  <mat-card-title class="app-title-container"> Change your password</mat-card-title>
  <div class="app-form-container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <label>
        <input [formControl]="changePasswordForm.email" matInput name="email" required>
      </label>
      <mat-error *ngIf="changePasswordForm.email.invalid && changePasswordForm.email.errors?.required ">
        Email is required.
      </mat-error>
    </mat-form-field>

    <div class="btn-form" >
      <mat-progress-spinner class="spinner" color="warn" diameter="25" *ngIf="load"
                            mode="indeterminate"></mat-progress-spinner>
      <button *ngIf="!load" [disabled]=" changePasswordForm.email.invalid" color="accent" (click)="updatePassword($event)"
              mat-raised-button>Validate
      </button>
      <button (click)="onClose()" color="warn" mat-raised-button>Cancel</button>
    </div>
  </div>
</div>
<ng-template #Validate>
  <p> If this email is saved, the instructions to reset your password will be sent to you.</p>
  <p> If you don't receive an email quickly, please come back and try again. (the email is only valid
      24h)</p>
  <div class="app-title-container">
    <button (click)="onClose()" color="warn" mat-raised-button>Close</button>
  </div>
</ng-template>
