.app-main-container {
  width: 500px;
}

.app-title-container {
  display: flex;
  justify-content: center;
  margin: 5px;

}

.app-form-container {
  display: flex;
  flex-flow: column;
}

.btn-form {
  display: flex;
  justify-content: space-around;
}
